body
{
	font-family: "Monaco", "Courier";
}

#header 
{
	padding: 5px;
	background-color: grey;
    color: red;
}

#menu
{
	padding: 5px;
	color: blue;
}

#content
{
	padding: 5px;
	background-color: yellow;
	color: green;
}

#footer
{
	padding: 5px;
	font-size: 0.7em;
	text-align: center;
	color: #aaa;
}